body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-to-show {
    width: 400px;
    height: 400px;
    display: none;
    opacity: 0;
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn {
    margin-left: 39px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 55px;
    border-radius: 8px;
    border: 4px solid #ffffff;
    transition: background-color 0.1s, color 0.3s, border-color 0.3s;
  }

  .btn-dark {
    color: rgb(238, 242, 242);
    background-color: black;
    margin-left: 39px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .btn-light {
    color: black;
    background-color: white;
    border-color: black;
    margin-left: 39px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .btn:active {
    background-color: #838383;
    color: #fff;
  }

  .theme-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: black;
    color: rgb(238, 242, 242);
    border: 4px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    transition: background-color 0.1s, color 0.3s;
    user-select: none;
  }

  .theme-button:hover {
    background-color: #838383;
    color: #fff;
  }

  .image-border-dark {
    border: 6px solid #ffffff;
    border-radius: 8px;
  }

  .image-border-light {
    border: 6px solid black;
    border-radius: 8px;
  }

  .timer1 {
    margin-top: 15px;
    margin-left: 105px;
    user-select: none;
  }
  
  .timer-dark {
    color: white; 
  }
  
  .timer-light {
    color: black; 
  }


